@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LavishlyYours";
  src: url("./fonts/Graphit/LavishlyYours-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inika";
  src: url("./fonts/Graphit/Inika-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
body{
  background-image: url('https://i.pinimg.com/originals/fd/b2/1c/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
